.page-container {
  background-color: rgb(242, 242, 242); /* Background color behind the card */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  background-color: rgb(245, 245, 245);
  border-radius: 0px;
  width: clamp(300px, 85%, 1200px); /* Minimum 300px, preferred 85%, maximum 1200px */
  /* height: 87%;  */
  height: clamp(300px, 85%, 1200px); /* Minimum 300px, preferred 85%, maximum 1200px */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Raleway", Helvetica, sans-serif;
}


.card-left {
  width: 30%;
  position: sticky;
  top: 0;
  background-color: transparent;
  color: rgb(32, 34, 33);
  letter-spacing: 1;
  line-height: 2;
  text-align: left;
  margin-left: 50px; 
  margin-top: 10px;
  height: 100%; 
  overflow-y: auto;
  font-size: 20px;
  color: #555;
}

.name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: normal;
  color: #a3bba3;
  letter-spacing: 4px;
  font-size: 32px;
  margin-top: 50px;
  text-align: left;
  margin-left: 50px;
}

.card-right {
  width: 70%;
  overflow-y: scroll; /* Allows scrolling on the right side */
  height: 100%;
  color:#555555;
  line-height: 2;
}

.card-right::-webkit-scrollbar {
  display: none; /* Hide the scrollbar in WebKit browsers */
}

.about-item {
  text-align: left;
  margin-top: 65px; 
  margin-bottom: 65px; 
  margin-right: 40px; 
  margin-left: 65px; 

}

.card-item {
  display: flex; /* Use flexbox to lay out the date and description side by side */
  background-color: transparent;
  padding: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.card-date {
  width: 20%; 
  font-size: 1.1rem; /* Adjust font size for date */
  font-weight: bold;
  color: #a3bba3;
  margin-right: 20px; /* Space between date and description */
}

.card-description {
  text-align: left;
  width: 80%; /* Adjust the width of the description section */
}

.card-description h2 {
  color: #a3bba3;
  font-size: 22;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.company-link:hover {
  color:#7da783;
}
.card-description h3 {
  font-weight: 300;
  font-size: 15;
  margin: 0;
}

.card-description p {
  margin-top: 10px;
  line-height: 1.5;
  font-size: 14;
}

.left-box {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  color: white;
}

h1, h3 {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 10px;
}

/* Sidebar */
.side-menu {
    position: sticky;
    color:#555555;
    top: 200px;
    width: 250px;
    height: fit-content;
    font-size: 17px;
    padding: 20px;
    margin-left: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}

.side-menu ul {
    list-style: none;
    padding: 0;
}

.side-menu ul li {
    margin-bottom: 10px;
    align-items: center;
    gap: 8px;
}
.side-link{
    margin-bottom: 10px;
    align-items: center;
    gap: 8px;
    text-decoration: underline;
    color:#444444;
    display: block;
    padding: 8px;
}
.side-link:hover{
  color:#2c462f;
}

.side-menu ul li a {
    text-decoration: none;
    color:#444444;
    display: block;
    padding: 8px;
    transition: background 0.3s;
}
.side-menu ul li a.active {
  color: #2c462f; 
}

.side-menu ul li a:hover {
    color: #466d4c;

}

@media (max-width: 768px) {

  .name{
    text-align: center; /* center on mobile */
    margin-bottom: 0;
  }
  .card-left {
    display: none; /* Hide the entire left card on mobile */
  }


  .card-right {
    width: 100%; /* Ensures the right section takes full width */
  }

}
